[submodule "flutter-roll-dice"]
	path = flutter-roll-dice
	url = git@github.com:arjunpanicker/flutter-roll-dice.git
[submodule "qa_app"]
	path = qa_app
	url = git@github.com:arjunpanicker/flutter-qa-app.git
